:root {
  --header-text: #1b1a1a;
  --happy-title: #fff;
  --title-color: #1b1a1a;
  --adittional-text: #645c55;
  --adittion-title: #403e3b;
  --happy-text: #ece7e4;
  --featured-background:#F7F7F7;


}
.container{
  width: 1193px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 15px;
 padding-right: 15px;
 outline: 1px solid green;
}
body {
  font-family: Poppins;
}
.header{
  padding-top: 22px;
  padding-bottom: 22px;
}
.header-logo{
  margin-right: 343px;
  margin-left: 32px;
}
.header-box{
  display: flex;
  align-items: center;

}
.header-list{
  display: flex;
  gap: 32px;
}
.header-link {
  color: var(--header-text);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}
.header-button {
  color: var(--happy-title);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
  background-color: var(--header-text);
  margin-left: 32px;
}
.hero {
  background-color: var(--happy-text);
  padding-top: 137px;
  padding-bottom: 117px;
}
.hero-logo {
  color: var(--adittional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.hero-title {
  color: var(--header-text);
  font-size: 64px;
  font-weight: 400;
  line-height: 1.1;
  width: 417px;
  margin-bottom: 18px;
}
.hero-description {
  color: var(--adittion-title);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 509px;
  margin-bottom: 30px;
}
.hero-button {
  color: var(--header-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
  border: none;
  background-color: transparent;
  padding: 11px 20px;
}
.firm {
  background-color: var(--happy-title);
  padding-top: 96px;
  padding-bottom: 120px;
}

.firm-box{
  display: flex;
  justify-content: center;
  gap: 133px;
}

.firm-title {
  color: var(--adittion-title);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.18;
}
.firm-text {
  color: var(--adittion-title);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 493px;
  margin-bottom: 10px;
}
.firm-desk {
  color: var(--adittion-title);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 493px;
  margin-bottom: 10px;
}
.firm-excerpt {
  color: var(--adittion-title);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 493px;
  margin-bottom: 18px;
}

.firm-wraper{
  display: flex;
  gap: 30px;
  align-items: center;
}

.firm-name {
  color: var(--header-text);
  font-size: 17px;
  font-weight: 400;
  line-height: 1.53;
}
.firm-position {
  color: var(--adittional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
.hause{
  padding-top: 266px;
  padding-bottom: 266px;
}
.hause-box{
  text-align: start;
  width: 285px;
  margin-left: auto;
}
.hause-title {
  color: var(--adittion-title);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: start;
}
.hause-text {
  color: var(--adittional-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 285px;
}
.process{
  padding-top: 100px;
  padding-bottom: 110px;
}
.process-text {
  color: var(--adittional-text);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.process-title {
  color: var(--header-text);
  text-align: center;
  font-size: 39px;
  font-weight: 400;
  line-height: 1.07;
  margin-bottom: 47px;
}
.process-list{
  display: flex;
  gap: 102px;
  justify-content: center;
}
.process-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process-img{
  width: 117px;
  height: 102px;
}
.process-caption{
color: var(--adittion-title);
 text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 1.44;
margin-top: 15px;
margin-bottom: 10px;
}
.proces-description{
    color: var(--adittional-text);
text-align: center;
font-size: 15px;
font-weight: 400;
line-height: 1.6;
width: 294px;
}
.stairs{
  padding-top: 266px;
  padding-bottom: 266px;
}
.stars-box{
text-align: start;
margin-left: auto;
width: 285px;
}
.stairs-title{
  color: var(--adittion-title);
font-weight: 400;
line-height: 1.42; /* 142.857% */
letter-spacing: 2px;
text-transform: uppercase;
font-size: 14px;
}

.stairs-text{
  color: var(--adittional-text);
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
width: 285px;
margin-left: auto;
}

.happy{
  background-color: var(--adittion-title);
}

.happy-description{
  color: var(--happy-text);
font-size: 14px;
font-weight: 400;
line-height: 1.42; /* 142.857% */
letter-spacing: 2px;
text-transform: uppercase;
}

.happy-title{
  color: var(--happy-title);
font-size: 32px;
font-weight: 400;
line-height: 1.18; /* 118.75% */
}

.happy-text{
  color: var(--happy-text);
font-size: 15px;
font-weight: 400;
line-height: 1.6; /* 160% */
}


.staircase-title{
  color: var(--adittion-title);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42; /* 142.857% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.staircase-text{
  color: var(--adittional-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.featured{
    background-color: var(--featured-background);

}
.featured-title{
  color: var(--title-color);
  font-size: 39px;
  font-weight: 400;
  line-height: 1.07; /* 107.692% */
}

.featured-text{
  color: var(--adittional-text);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25; /* 125% */
}

.featured-link{
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.4px;
}
.meet-title{
    color:var(--adittion-title);
font-size: 32px;
font-weight: 400;
line-height: 1.19;
}
.meet-text{
    color: var(--adittional-text);
font-size: 15px;
font-weight: 400;
line-height: 1.6;
}
.meet-subtitle{
    color:var(--header-text);
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.4px;
}
.meet-name{
    color: var(--header-text);
    font-size: 17px;
    font-weight: 400;
    line-height: 1.53; /* 152.941% */
}
.meet-proffesion{
    color: var(--adittional-text);
font-size: 14px;
font-weight: 400;
line-height:1; /* 100% */
}

.touch{
  background: #CEC4BC;
}

.touch-text{
  color: var(--adittional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42; /* 142.857% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.touch-title{
  color: var(--title-color);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.05; /* 105% */
}

.touch-btn{
  color: var(--title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.4px;
}

.footer{
  background: #F7F7F7;
}

.footer-text{
  color: var(--adittional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42; /* 142.857% */
}

