:root {
  --header-text: #1b1a1a;
  --happy-title: #fff;
  --title-color: #1b1a1a;
  --adittional-text: #645c55;
  --adittion-title: #403e3b;
  --happy-text: #ece7e4;
  --featured-background:#F7F7F7;


}
body {
  font-family: Poppins;
}
.header-link {
  color: var(--header-text);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}
.header-button {
  color: var(--happy-title);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
  background-color: var(--header-text);
}
.hero {
  background-color: var(--happy-text);
}
.hero-logo {
  color: var(--adittional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.hero-title {
  color: var(--header-text);
  font-size: 64px;
  font-weight: 400;
  line-height: 1.1;
}
.hero-description {
  color: var(--adittion-title);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.hero-button {
  color: var(--header-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.firm {
  background-color: var(--happy-title);
}
.firm-title {
  color: var(--adittion-title);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.18;
}
.firm-text {
  color: var(--adittion-title);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.firm-desk {
  color: var(--adittion-title);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.firm-excerpt {
  color: var(--adittion-title);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.firm-name {
  color: var(--header-text);
  font-size: 17px;
  font-weight: 400;
  line-height: 1.53;
}
.firm-position {
  color: var(--adittional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
.hause-title {
  color: var(--adittion-title);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.hause-text {
  color: var(--adittional-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.process-text {
  color: var(--adittional-text);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.process-title {
  color: var(--header-text);
  text-align: center;
  font-size: 39px;
  font-weight: 400;
  line-height: 1.07;
}
.process-caption{
color: var(--adittion-title);
 text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 1.44;
}
.proces-description{
    color: var(--adittional-text);
text-align: center;
font-size: 15px;
font-weight: 400;
line-height: 1.6;
}

.stairs-title{
  color: var(--adittion-title);
font-weight: 400;
line-height: 1.42; /* 142.857% */
letter-spacing: 2px;
text-transform: uppercase;
}

.stairs-text{
  color: var(--adittional-text);
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
}

.happy{
  background-color: var(--adittion-title);
}

.happy-description{
  color: var(--happy-text);
font-size: 14px;
font-weight: 400;
line-height: 1.42; /* 142.857% */
letter-spacing: 2px;
text-transform: uppercase;
}

.happy-title{
  color: var(--happy-title);
font-size: 32px;
font-weight: 400;
line-height: 1.18; /* 118.75% */
}

.happy-text{
  color: var(--happy-text);
font-size: 15px;
font-weight: 400;
line-height: 1.6; /* 160% */
}


.staircase-title{
  color: var(--adittion-title);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42; /* 142.857% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.staircase-text{
  color: var(--adittional-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.featured{
    background-color: var(--featured-background);

}
.featured-title{
  color: var(--title-color);
  font-size: 39px;
  font-weight: 400;
  line-height: 1.07; /* 107.692% */
}

.featured-text{
  color: var(--adittional-text);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25; /* 125% */
}

.featured-link{
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.4px;
}
.meet-title{
    color:var(--adittion-title);
font-size: 32px;
font-weight: 400;
line-height: 1.19;
}
.meet-text{
    color: var(--adittional-text);
font-size: 15px;
font-weight: 400;
line-height: 1.6;
}
.meet-subtitle{
    color:var(--header-text);
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.4px;
}
.meet-name{
    color: var(--header-text);
    font-size: 17px;
    font-weight: 400;
    line-height: 1.53; /* 152.941% */
}
.meet-proffesion{
    color: var(--adittional-text);
font-size: 14px;
font-weight: 400;
line-height:1; /* 100% */
}

.touch{
  background: #CEC4BC;
}

.touch-text{
  color: var(--adittional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42; /* 142.857% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.touch-title{
  color: var(--title-color);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.05; /* 105% */
}

.touch-btn{
  color: var(--title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.4px;
}

.footer{
  background: #F7F7F7;
}

.footer-text{
  color: var(--adittional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42; /* 142.857% */
}

